h2{
    margin-top: 30px;
    margin-bottom: 15px;
}

p{
    font-size: 17px;
}

p>img{
    box-shadow: 0px 0px 10px #999999;
}

center>img{
    margin-bottom: 10px;
}


/*
    Estilos para mediaquery
*/
@media (max-width: 600px){    
    .col-md-10 {
        padding: 0 15px;        
    }

    #share-buttons .col-1:nth-child(2){
        margin-left: 100px;
        padding-top: 2px;
    }
}